
html
    head
        title TBD Tableau Connector
        meta(http-equiv='Cache-Control', content='no-store')
        link(href='/bootstrap.min.css', rel='stylesheet', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
        script(src='/jquery.min.js', type='text/javascript')
        script(src='/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
        script(src='/tableauwdc-2.3.latest.js', type='text/javascript')
        script(src='/promo_wdc.js', type='text/javascript')
    body
        block content
        .container.container-table
            .row.vertical-center-row
                .text-center.col-md-12
                    button#submitButton.btn.btn-success(type='button', style='margin: 10px;') get #{category} data!
